body {
    margin: 0;
    padding: 0;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Inconsolata', monospace;
    /* font-weight: lighter; */
    background-color: #585858;
  }
  
.navContainer {
    position: fixed;
    height: 100vh;
    width: 340px;
    background-color: #AABFA0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
ul {
    margin: 0;
    padding: 0;
}
  
li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
    width: 100px;
    border: 2px solid #DBEED9;
    background-color: #DBEED9;
    border-radius: 4px;
    list-style-type: none;
    margin: 40px;
}
  
li:hover {
    border: 2px solid #C47449;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    text-decoration: none;
    color: #9E5229;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    cursor: pointer;
    font-size: 16px;
}

a:visited {
  color: #9E5229;
}
  